{
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 120,
  "bracketSpacing": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": ["^components/(.*)$", "^../(.*)$", "^\\./(.*)$", "^(.)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "auto"
}
